@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my page</h1>
    <div class="welcomeBox">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eos optio deserunt ex distinctio repellendus illo, adipisci consequatur placeat voluptates asperiores explicabo soluta quae similique architecto, ad tempore vitae provident.
        </p>
    </div>
    <button>Register</button>  <button>Log in</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
